<a href="https://colab.research.google.com/github/namwootree/Algorithm_study/blob/main/class_1_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num = int(input())

for _ in range(num):

  list_info = input().split()

  time, sentence = int(list_info[0]), str(list_info[-1])
  result = ''
  for i in list(sentence):
    result += i*time
  
  print(result)

2
3 ABC
AAABBBCCC
5 /HTP
///HHHTTTPPP

In [ ]:
while True:
  A, B = map(int, input().split())

  if A == 0 & B == 0:
    break
  else:
    print(A+B)

1 1
2

In [ ]:
A = str(input())

print(ord(A))

1

TypeError: ignored

In [ ]:
dict_word = {}

word = input()

word = word.upper()

for i in word:
    if i not in dict_word:
        dict_word[i] = 1
    else:
        dict_word[i] += 1

val = list(dict_word.values())

val.sort(reverse=True)

if len(val) == 1:
  print(word[0])

elif val[0] == val[1]:
    print("?")
else:
    for key, value in dict_word.items():
        if value == val[0]:
            print(key)

Mississipi
?

In [ ]:
year = int(input())


if year % 4 == 0:
  if year % 100 !=0:
    print(1)
  elif year % 400 == 0:
    print(1)
  else:
    print(0)
else:
  print(0)

2012
1

In [ ]:
A, B = map(int,input().split())
print(A * B)

0