<a href="https://colab.research.google.com/github/namwootree/Algorithm_study/blob/main/class_1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# class 1 1152
sentence = str(input())

list_sentence = sentence.strip().split()
print(len(list_sentence))

 The first character is a blank
['The', 'first', 'character', 'is', 'a', 'blank']
6

In [ ]:
# class 1 3052

set_value = set()

for _ in range(10):
  num = int(input())

  value = num % 42
  set_value.add(value)

print(len(set_value))

42
84
252
420
840
126
42
84
420
126
1

In [ ]:
# class 1 11720
_ = input()
str_num = str(input())

list_str = list(str_num)

list_int = [int(i) for i in list_str]

print(sum(list_int))

11
7000000000000000000000000
7

In [ ]:
# class 10809
alphabet = 'abcdefghijklmnopqrstuvwxyz'
list_alphabet = list(alphabet)

word = str(input())
list_word = list(word)

for i in list_alphabet:

  if i in list_word:
    result = list_word.index(i)

  else:
    result = -1
  
  print(result)

baekjoon
1
0
-1
-1
2
-1
-1
-1
-1
4
3
-1
-1
7
5
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1

In [ ]:
# class 1 2908
s1, s2 = input().split()


list_s1 = list(reversed(list(s1)))
list_s2 = list(reversed(list(s2)))

new_s1 = ''
new_s2 = ''

for i in list_s1:
  new_s1+=i

for i in list_s2:
  new_s2+=i

print(max(int(new_s1), int(new_s2)))

734
893
437

In [ ]:
# class 1 2577
n1 = int(input())
n2 = int(input())
n3 = int(input())

n = n1 * n2 * n3

list_n = list(str(n))

for i in range(9+1):

  str_i = str(i)
  result = list_n.count(str_i)

  print(result)

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
# class 2 10773
list_num = []

for _ in range(int(input())):

  num = int(input())

  if num != 0:
    list_num.append(num)

  else:
    del list_num[-1]

print(sum(list_num))

10
1
3
5
4
0
0
7
0
0
6
7

In [ ]:
# class 2 2609

num_1, num_2 = map(int, input().split())

num_1, num_2 = min(num_1, num_2), max(num_1, num_2)

set_num_1 = set()
set_num_2 = set()

for i in range(1, num_1+1):

  if num_1 % i == 0:

    set_num_1.add(i)

for j in range(1, num_2+1):

  if num_2 % j == 0:

    set_num_2.add(j)

same = set_num_1 & set_num_2

result_1 = max(same)

print(result_1)

n = 1

while True:

  candidate = num_2 * n

  if candidate % num_1 == 0:

    if candidate % num_2 == 0:

      print(candidate)

      break
  
  n += 1

24 18
6
72

In [ ]:
# class 2 11650
import sys

list_xy = []

num = int(sys.stdin.readline())

for _ in range(num):

  x, y = map(int, sys.stdin.readline().split())

  list_xy.append([x, y])

list_xy = sorted(list_xy)

for lst in list_xy:

  print(lst[0], lst[-1])

5
3 4
1 1
1 -1
2 2
3 3
1 -1
1 1
2 2
3 3
3 4